.register-content {
  padding: 50px 20px;
}

.reg-details {
  padding: 10px;
}

.reg-details h3 {
  font-weight: bold;
  color: #134492;
}

.reg-details p {
  color: rgb(63, 63, 63);
  text-align: justify;
}