.ticket-card {
  /* max-width: 30%; */
  background-color: white;
  margin: 30px 15px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
  width: 325px;
}

.ticket-card:hover {
  margin-top: 10px;
  margin-bottom: 40px;
}

.ticket-card h4, .ticket-card h2 {
  text-align: center;
  font-weight: bold;
  padding: 5px 0px;
  margin: 0;
}

.ticket-card ul {
  padding: 25px 10px;
  margin-bottom: 0px;
}

.ticket-card li {
  list-style-type: none;
  font-size: 13px;
}

.ticket-card-register {
  display: flex;
  justify-content: center;
}

.ticket-card-register button {
  padding: 5px 35px;
  border-radius: 10px;
  background: linear-gradient(10deg, #2759a8, #732a89);
  border: 1px solid grey;
  color: white;
}

.ticket-card-register button:hover {
  padding: 7px 37px;
}