.day-card {
  width: auto;
  margin: auto;
  display: flex;
  border: 1px solid #edecec;
  flex-direction: row;
}

.schedule-time {
  padding: 30px 10px;
  border: 1px solid #edecec;
  border-width: 0 1px;
  flex-basis: 18%;
  text-align: center;
  /* width: max-content; */
}

.schedule-head {
  padding: 30px 10px;
  border: 1px solid #edecec;
  border-width: 0 1px;
  flex-basis: 35%;
}

.schedule-details {
  padding: 30px 10px;
  border: 1px solid #edecec;
  border-width: 0 1px;
  flex-basis: 50%;
  height: 100%;
  margin: auto 0;
}

.day-card h5 {
  margin-bottom: 0;
  text-align: justify;
  font-weight: bold;
  font-size: 1rem;
  align-items: center;
}

.day-card span {
  color: rgb(44, 44, 44);
  text-align: justify;
  font-size: 15px;
}

.day-card p {
  text-align: justify;
  font-size: 14px;
  color: rgb(64, 64, 64);
  margin-bottom: 0px;
}

@media screen and (max-width: 770px) {
  .day-card {
    border: 1px solid #dadada;
    padding: 0 10px;
  }

  .day-card {
    flex-direction: column;
  }

  .schedule-ele-col {
    padding: 15px 5px;
  }

  .schedule-time {
    padding: 15px 5px;
    border: none;
  }

  .schedule-head {
    padding: 15px 5px;
    border: none;
  }

  .schedule-details {
    padding: 15px 5px;
    border: none;
  }
}

@media screen and (max-width: 576px) {
  .schedule-ele-col {
    border: none;
    padding: 10px;
  }

  .day-card {
    border: 1px solid #edecec;
    padding: 10px 0px;
  }

  .day-card h5 {
    text-align: justify;
  }

  .day-card p {
    text-align: justify;
  }
}
