.speakers {
  padding: 125px 50px 0px;
}

.speakers h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 50px;
  background: -webkit-linear-gradient(45deg, #ee6d4e, #000000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-accordion {
  /* display: flex; */
  justify-content: center;
  overflow: hidden;
  padding-bottom: 40px;
}

.image-row {
  display: flex;
  height: 400px;
  justify-content: center; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust margin between rows as needed */
}

.image-row .image-item:last-child {
  margin-right: 0;
}

.image-item {
  width: 145px;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.7s ease-in-out;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0px;
  background-size: auto 150px;
}

.speaker-details {
  display: none;
}

.image-item h3 {
  padding-top: 50px;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  color: white;
  white-space: pre;
  text-wrap: wrap;
}

.image-item:hover {
  width: 40%; 
  background-color: #ee6d4e;
}

.image-item:hover h3 {
  font-size: 2rem;
  padding-top: 10px;
  white-space: normal;
}

.image-item:hover div {
  color: white;
  display: block;
}

.speaker-details {
  width: 82%;
  padding: 20px 5px 0px 10px;
  animation-name: fadeIn;
  animation-duration: 5s;
}

.speaker-container h4 {
  font-weight: bold !important;
  margin: 20px 0px;
  text-align: center;
  color: rgb(72, 72, 72);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .speakers {
    padding: 125px 20px 0px;
  }

  .image-row {
    flex-direction: column; /* Stack items vertically */
    height: auto;
    align-items: center;
    margin-bottom: 0px;
  }

  .image-item {
    transition: height 0.7s ease-in-out;
    height: 150px;
    width: 90%; /* Full width for each item */
  }

  .image-item h3 {
    transition-duration: 0.5s;
  }

  .image-item:hover {
    width: 90%; /* Full width for active item */
    height: 300px;
  }
}

@media screen and (max-width: 825px) {
  .image-item:hover {
    height: 450px;
  }
}

@media screen and (max-width: 650px) {
  .image-item h3 {
    text-align: left;
    margin-left: 20px;
  }
}

@media screen and (max-width: 525px) {
  .image-item:hover {
    height: 450px;
    font-weight: 14px;
  }

  .speaker-details li {
    font-size: 14px;
  }

  .image-item h3 {
    width: 50%;
  }

  .image-item:hover h3 {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .image-item:hover {
    height: 650px;
  }
}
